body {
    background-color: rgb(148, 198, 255);
    margin: 0;
}
#anillado {
    width: 20px;
    height: 500px;
    background-color: rgb(245, 243, 243);
    margin: 50px;
    padding: 20px;
    border-right: 1px solid red;
    box-shadow: 4px 4px 7px 1px rgb(77, 127, 184);
}
#ojal {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: rgb(148, 198, 255);
    box-shadow: inset -2px 0px 5px 1px rgb(77, 127, 184);
    margin-bottom: 19px;
}
#hoja {
    max-width: 300px;
    height: 500px;
    background-color: rgb(245, 243, 243);
    box-shadow: 4px 4px 7px 1px rgb(77, 127, 184);
    position: relative;
    left: 111px;
    bottom: 590px;
    padding: 20px;
}
#contenedor {
    display: block;
    margin: auto;
    width: 400px;
    height: auto;
}
.texto {
    font-family: "Calibri", sans-serif;
    font-size: 15px;
}
